BasedOnStyle: LLVM
IndentWidth: 2
ColumnLimit: 88
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Attach
SortIncludes: Never
ReflowComments: false
BreakStringLiterals: false
BinPackArguments: false
BinPackParameters: false
